@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
.col{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 60vh;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(to right, palevioletred, purple);;
}
.container{
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    width: 90%;
    margin: 60px auto;
    margin-top: 20vh;
}
.topline{
    display: block;
    position: relative;
    font-size: 40px;
    letter-spacing: 4px;
    color: pink;
}
.textContainer{
    display: flexbox ;
    justify-content: space-between;
}
h2{
    font-size: 30px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;

}
p{
    font-size: 16px;
    color  : black;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 10px;
}
.img{
    max-width: 450px;
    float: right;
    border: 3px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 100px;
}
.bttn{
    display: inline-block;
    color: #222;
    background: #ededed;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 1.5 vw;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 6px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}
.bttn:hover{
    box-shadow: 0 5px 10px rgba(244, 186, 226, 0.2);
    transform: translateX(5px);
}

.wrapper2{
    width: 90%;
    min-height: 100vh;
    margin: 60px auto;
    margin-top: 20vw;
}