*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(218, 40, 64, 0.719), rgba(253, 104, 153, 0.377)), url(../imgs/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    padding-top: 10px;
    color: #fff;
    font-size: 100px;
}

h2{
    padding-top: 10px;
    color: #fff;
    font-size: 100px;
}

p{
    color: #fff;
    font-size: 30px;
    line-height: 15px;
}

a button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 15px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;

}

.card{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    
    background-position: center;
    background-size: cover;
    gap: 15px;
    transition: transform 0.5s;
}

.card1{
    background-image: linear-gradient(rgba(206, 46, 67, 0.801), rgba(212, 59, 110, 0.336)), url(../imgs/illustration-vectorielle-cancer-du-sein-concept-abstrait-facteur-oncologie-femmes-prevention-diagnostic-fonds-du-cancer-du-sein-sensibilisation-aux-maladies-depis.jpg);
}

.card2{
    background-image: linear-gradient(rgba(206, 46, 67, 0.801), rgba(212, 59, 110, 0.336)), url(../imgs/vecteur.jpg);
}


.card3{
    background-image: linear-gradient(rgba(206, 46, 67, 0.801), rgba(212, 59, 110, 0.336)), url(../imgs/new.avif);
}
 
.card4{
    background-image: linear-gradient(rgba(206, 46, 67, 0.801), rgba(212, 59, 110, 0.336)), url(../imgs/4.jpg);
}

.card:hover{
    transform: translateY(-10px) ;

}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px ;
}