@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200;400&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-text');
body{
    margin: 10px;
    padding: 50px;
    font-family: 'Neue Haas Grotesk Text', sans-serif;
    background-color: #fbf7;
    



        background-image: url('pexels-leeloo-thefirst-7805648.jpg');
       background-size: cover;
        background-position: center; 
 } 
 chiffres{
    margin: 900px;
    width:400px;
    height:400px ;
    box-shadow:-1px 0 10px #fbf7;

 }